*{box-sizing: border-box;}
/* year_month */
.calendar{
    width:500px;
    margin:0 auto;
    border:1px solid #000;
}
.year{
    font-size:.9rem;
    color:red;
    font-weight:800;
    padding:.3rem;
}
.month{
    text-align:center;
}
.month .material-icons{
    cursor: pointer;
}
.month span{
    font-size:3rem;
}
/* days */
.days{
    display:flex;
    justify-content:space-between;
}
.days span{
    padding:.5rem;
    flex-grow: 1;
    text-align: center;
    font-size:1.2rem;
}
.day span{
    display:inline-block;
    width:71.14px;
    height:42px;
    padding:.5rem;
    text-align: center;
    font-size:1.2rem;
}
